<div class="card text-center">
    <img class="card-img-top" [src]="item.imagen" alt="Card image cap">
    <div class="card-header">
        <h1>{{item.nombre}}</h1>
    </div>
    <div class="card-body">
      <h5 class="card-title">Autor: {{item.autor}}</h5>
      <p class="card-text">{{item.descripcion}}</p>
      <button href="#" class="btn btn-primary" (click)="suscribirse()">Suscribirse</button>
    </div>    
    <div class="card-footer text-muted">
      Academe 2019 &copy;
    </div>
  </div>
