#centrador{
    position: relative;
    width: 100%;
    height: 80px;
  }
  
  #imagen{
      position: absolute;
      width: 100px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
  }
  button {
    background-color: #2d51a3;
    position: relative;
    text-align: center;
  }