<div class="row justify-content-md-center">
  <div class="mbr-white col-md-10">
      <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-5">
        Surgimos con la idea de compartir conocimientos con la comunidad
      </h1>
      <div id="centrador">
          <img id="imagen" src="../assets/img/logo20.png">
       </div>     
      <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">
        Vivimos en la era de la informacion
      </h3>
      <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
        Quizá nunca imaginamos porqué es importante para la vida de la sociedades el acopio de 
        conocimientos, no sólo científicos sino de todo tipo de sabiduría que nuestra especie ha g
        enerado. Ya decía Bacón que el conocimiento es poder, analizando esta máxima se sabrá si,  
        en realidad aquella sentencia es una verdad incuestionable.
      </p>
      <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
        El conocimiento, obvio es decirlo, destierra la ignorancia. Cuando vivimos en la ignorancia, 
        al no conocer el mundo, somos presa de errores vitales que nos conducen a una vida difícil, 
        llena de sacrificios, que incluso nos conducen a morir prematuramente. Por ejemplo, cuando 
        un ser humano carece de los conocimientos básicos en el campo de la salud, al contraer una 
        enfermedad,  recurre al brujo, creyendo que tal padecimiento es producto de circunstancias 
        mágicas y esta acción lo lleva a destruirse. La ignorancia lo condujo a la superstición, 
        de ahí la importancia del conocimiento científico que le permitiría conocer la realidad,  
        que lo apartaría de los  factores negativos.      
          </p>
          <div  style="display:block; line-height: 70px; width:100%; text-align:center; margin:0 auto;">
          <button (click)="contacto()" class="btn btn-primary" >Contactanos</button>
      </div>
  </div>
</div>
