<div class="container">
  
    <div>
      <div>
        <h2>Contenido del curso {{item.nombre}}</h2>
      </div>
      <div *ngIf="authority == 'admin'">
        <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value)">
          <div class="form-group">
            <label>Añadir temas para el curso: </label>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <span>Subir Tema</span>
            </div>
            <div class="panel-body">
              <div class="form-group col-xs-2">
                <label>Número tema</label>
                <input type="text" class="form-control" formControlName="tema">
              </div>
              <div class="form-group col-xs-4">
                <label>Titulo del tema</label>
                <input type="text" class="form-control" formControlName="titulo">
              </div>
              <div class="form-group col-xs-4">
                <label>Subir archivo</label>
                <input type="file" (change)="upload($event)" accept=".pdf">
              </div>
              <div class="form-group col-xs-2">
                <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Subir tema</button>
              </div>

            </div>

          </div>

        </form>
      
    </div>
  </div>

  <div>
    <h3 *ngIf="tema">No se ha subido contenido para este curso.</h3>
    <div *ngFor="let item of items3" class="list-group-item list-group-item-action flex-column align-items-start">

      <div class="card">
        <div class="card-header">
          Tema: {{item.payload.doc.data().tema}}
        </div>
        <div class="card-body">
          <div class="col col-md-6 actions-col">
            <h5> Titulo: {{item.payload.doc.data().titulo}} </h5>
          </div>
          <div class="col col-md-6 actions-col">
            <a href="{{item.payload.doc.data().contenido}}" class="btn btn-primary mr-2">Descargar Contenido</a>
            <button *ngIf="authority == 'admin'" (click)="eliminarTema(item)" class="btn btn-danger" type="button">
              Eliminar Tema
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>